CompileFlags: 
  Add:
    - -ferror-limit=10000
    - -I.
    - -include=<stdint.h>
    - -include=core.h
    - -include=memory.h
    - -include=math.h
    - -include=platform.h
    - -include=graphics.h
    - -include=strconv.h
    - -include=input.h
    - -include=animation.h
    - -include=ppm.h
    - -include=playground.h
    - -include=debug_font.h
    - -include=physics.h
    - -include=pcg_random.h
---
If:
  PathMatch: "linux\\.c$"
CompileFlags: 
  Add:
    - -ferror-limit=10000
    - -I.
    - -include=./external/RGFW.h
    - -include=./external/stb_image.h
    - -DUNITY_BUILD
  Remove:
    - -include=core.h
    - -include=memory.h
    - -include=math.h
    - -include=platform.h
    - -include=platform.h
    - -include=graphics.h
    - -include=strconv.h
    - -include=input.h
    - -include=animation.h
    - -include=ppm.h
    - -include=playground.h
    - -include=debug_font.h
    - -include=physics.h
    - -include=pcg_random.h
    - -include=<stdint.h>
